.shoppingCart{
    min-height: 100vh;
}
.shoppingCart .container{
    background-color: #fff;
}
.shoppingCart img{
    width: 150px;
}
.shoppingCart .quantity i {
    padding: 6px 8px;
    font-size: 14px;
}
.shoppingCart .quantity i:hover{
    cursor: pointer;
}
.shoppingCart .info i{
    padding: 6px 12px;
    font-size: 14px;
}
.shoppingCart .info i:hover{
    cursor: pointer;
}
@media only screen and (max-width: 576px) {
    .shoppingCart .quantityCtn {
      width: 100%;
    }
  }
/*  */
.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
  }
  
  .colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
  }
  
  .colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
  }
  
  .colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
  }
  
  .colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
  }
  
  .colored-toast .swal2-title {
    color: white;
  }
  
  .colored-toast .swal2-close {
    color: white;
  }
  
  .colored-toast .swal2-html-container {
    color: white;
  }